.ant-tabs-nav {
    border: 1px solid #EAECF0;
    background: #fff;
    border-radius: 8px;
    width: 333px;
}

.ant-tabs-nav-wrap {
    &::before {
        opacity: 1 !important;
        content: "Dylan Pham" !important;
        box-shadow: none !important;
        position: unset !important;
        width: 100%;
        height: 56px !important;
        font-size: 18px;
        border-bottom: 1px solid #EAECF0;
        line-height: 56px;
        padding-left: 15px;
        font-weight: 500;
    }
}

.ant-tabs-tab {
    height: 56px;
    font-size: 16px !important;
    font-weight: 400;
    color: #1D2939 !important;
    padding-left: 15px !important;

    &.ant-tabs-tab-active {
        background: #FEF7F3;

        .ant-tabs-tab-btn {
            color: #F4600C !important;
        }
    }
}

.ant-tabs-ink-bar {
    display: none;
}

.ant-tabs-tab+.ant-tabs-tab {
    margin: 0 !important;
}

.ant-tabs-content-holder {
    margin-left: 20px !important;
    border: 1px solid #EAECF0;
    background: #fff;
    border-radius: 8px;
}

.ant-tabs-tabpane {
    padding-left: 0 !important;
}

.tab-content-title {
    width: 100%;
    height: 56px!important;
    font-size: 18px;
    border-bottom: 1px solid #eaecf0;
    line-height: 56px;
    padding-left: 15px;
    font-weight: 500;
}

.tab-content-wrapper {
    display: flex;
    padding: 15px;
}